<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{world.name}}, in South 'Murica
  </h1>
  <span><img [attr.src]="server+world.logo" /></span>
</div>
<div> <span [innerHTML]="world.money | bigvalue"> </span></div>

<div class="lesdeux">
    <div class="lepremier"><span><img class="round" [attr.src]="server+world.products.product[0].logo" /></span></div>
</div>
<div class="lesdeux">
    <div class="lepremier"><span><img class="round" [attr.src]="server+world.products.product[1].logo" /></span></div>
</div>
<div class="lesdeux">
    <div class="lepremier"><span><img class="round" [attr.src]="server+world.products.product[2].logo" /></span></div>
</div>
<div class="lesdeux">
    <div class="lepremier"><span><img class="round" [attr.src]="server+world.products.product[3].logo" /></span></div>
</div>
<div class="lesdeux">
    <div class="lepremier"><span><img class="round" [attr.src]="server+world.products.product[4].logo" /></span></div>
</div>
<div class="lesdeux">
    <div class="lepremier"><span><img class="round" [attr.src]="server+world.products.product[5].logo" /></span></div>
</div>

